* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
================================================
fonts
================================================
*/


@font-face {
    font-family: "vazir-farsi-digits";
    src: url("../fonts/vazir-farsi-digits/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("../fonts/vazir-farsi-digits/Vazir-Medium-FD-WOL.woff2") format("woff2"),
    url("../fonts/vazir-farsi-digits/Vazir-Medium-FD-WOL.ttf") format("truetype");
}

/*
================================================
variables
================================================
*/

:root {
    --clr-primary: #e2711d;
    --clr-primary-light: #ffb627;
    --clr-grey-1: #102a42;
    --clr-grey-5: #617d98;
    --clr-grey-10: #f1f5f8;
    --clr-white: #fff;
    --ff-primary: "vazir-farsi-digits", sans-serif;
    --radius: 0.5rem;
    --transition: all 0.25s linear;
}


/*
================================================
main styles
================================================
*/


body {
    font-size: 1rem;
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    text-align: right;
}

h1 {
    font-size: 1.75rem;
}

h2 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

@media screen  and (min-width: 800px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

.btn {
    background: var(--clr-primary);
    color: var(--clr-white);
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    transition: var(--transition);
    display: inline-block;
}

.btn:hover {
    background: var(--clr-primary-light);
    color: var(--clr-primary);
}

.clear-fix::after, .clear-fix::before {
    content: "";
    clear: both;
    display: block;
}

.section-center {
    padding: 4rem 0;
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

.section-title h3 {
    color: var(--clr-primary);
}

.section-title {
    margin-bottom: 2rem;
}


/*
================================================
header
================================================
*/

.header {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url("../images/desert.jpg") center/cover no-repeat fixed;
    height: 100vh;
    position: relative;
}

.banner {
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner h1 {
    color: var(--clr-primary);

    margin-bottom: 2rem;
}

.banner h2 {
    color: var(--clr-white);
    margin-bottom: 3rem;
}

.btn-banner {
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
    outline: 0.125rem solid var(--clr-primary);
    outline-offset: 0.25rem;
}

/*content divider*/

.content-divider {
    height: 0.5rem;
    background: linear-gradient(to right, var(--clr-primary), var(--clr-primary-light), var(--clr-primary));
}

/*
================================================
features
================================================
*/

.features {
    background: var(--clr-grey-10);
}

.feature {
    text-align: center;
    float: right;
    padding: 1rem 0;
    transition: var(--transition);
    height: 250px;
    overflow: hidden;

    /*mobile first design*/
    width: 100%;
}

@media screen and (min-width: 576px) {
    .feature {
        width: 50%;
        float: right;
    }
}

@media screen and (min-width: 1200px) {
    .feature {
        width: 25%;
        float: right;
    }
}

.feature:hover {
    background: var(--clr-white);
    /*border-bottom: 3px solid var(--clr-primary);*/
    box-shadow: 0 3px 0 var(--clr-primary);

}

.feature:hover i {
    transform: translateY(-8px);
}

.feature i {
    font-size: 3rem;
    color: var(--clr-primary);
    margin-bottom: 1.25rem;
    display: inline-block;
    transition: var(--transition);
}

.feature h4 {
    margin-bottom: 1.5rem;
}

.feature p {
    color: var(--clr-grey-5);
    padding: 0 2rem;
}

/*
================================================
about
================================================
*/

.about-image, .about-info {
    padding: 2rem 0;
}

.about-img-container {
    max-width: 30rem;
    border: 0.3rem solid var(--clr-primary);
    border-radius: var(--radius);
    overflow: hidden;
    /*background: var(--clr-primary-light);*/
}

.about-img-container:hover img {
    transform: scale(1.2);
    /*opacity: 0.7;*/
}


.about-img {
    transition: var(--transition);
}

.about-text {
    color: var(--clr-grey-5);
}

.about-btn {

    margin-top: 1.3rem;
}

@media screen and (min-width: 992px) {
    .about-image {
        float: left;
        width: 50%;
    }

    .about-info {
        float: right;
        width: 50%;
    }

}

/*
================================================
products
================================================
*/

.products {
    background: var(--clr-grey-10);
}

.products article {
    padding: 2rem 0;
}

.products-text {
    color: var(--clr-grey-5);
    max-width: 26rem;
    margin-left: auto;
}

.products-btn {
    margin-top: 1.5rem;
}

.products-cards .product {
    margin-bottom: 2rem;
}

.product-img {
    border-radius: var(--radius);
    margin-bottom: 1rem;
    height: 17rem;
    object-fit: cover;
}

.product-price {
    color: var(--clr-primary);
    direction: rtl;
}

@media screen and (min-width: 768px) {
    .products-cards .product {
        float: right;
        width: 50%;
        padding-left: 2rem;
    }

}

@media screen and (min-width: 992px) {
    .products-cards .product {
        width: 33.33%;
    }

}

@media screen and (min-width: 1200px) {
    .products-info {
        float: right;
        width: 30%;
    }

    .products-cards {
        float: left;
        width: 70%;
    }

    .product {
        padding-left: 0;
        padding-right: 2rem;
        margin-bottom: 0;
    }
}

/*
================================================
services
================================================
*/


.services-title {
    text-align: center;
}

.service-card {
    margin: 2rem 0;
    background: var(--clr-grey-10);
    border-radius: var(--radius);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: var(--transition);

}

.service-card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.service-img {
    height: 17rem;
    object-fit: cover;
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
}

.service-info {
    text-align: center;
    padding: 3rem 1rem 2.5rem 1rem;
}

.service-info p {
    color: var(--clr-grey-5);
    max-width: 20rem;
    margin: 1rem auto;
}

@media screen and (min-width: 768px) {
    .service-card {
        float: right;
        width: 45%;
        margin-left: 5%;
    }
}

@media screen and (min-width: 992px) {
    .service-card {
        width: 30%;
        margin-left: 3.33%;
    }
}

.service-img-container {
    position: relative;
}

.service-icon {
    color: var(--clr-primary);
    font-size: 1.75rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    background: var(--clr-primary-light);
    padding: 0.5rem 1rem;
    border-radius: 50%;
    border: 0.4rem solid var(--clr-grey-10);
}


/*
================================================
contact us
================================================
*/

.contact {
    background: var(--clr-grey-10);
}

.contact article {
    margin: 1rem 0;
}

.contact-item {
    margin-bottom: 1.7rem;
}

.contact-title {
    color: var(--clr-primary);
    direction: rtl;
    font-weight: 700;
}

.contact-text {
    font-size: 1.1rem;
}

.contact-form {
    background: var(--clr-white);
    border-radius: var(--radius);
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.contact-form:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.contact-form h3 {
    color: var(--clr-grey-5);
    padding-top: 1.25rem;
}

.form-group {
    padding: 1rem 1.5rem;
}

.form-control {
    background: var(--clr-grey-10);
    display: block;
    width: 100%;
    margin-bottom: 1.25rem;
    padding: 0.5rem;
    direction: rtl;
    border-radius: var(--radius);
}

.submit-btn {

    width: 100%;
}